<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtanck.imusic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.softtanck.imusic.IMusic"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.softtanck.imusic.ui.StartAnimActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.softtanck.imusic.ui.MusicActivity" />
        <activity android:name="com.softtanck.imusic.ui.HomeActivity" />
        <activity
            android:name="com.softtanck.imusic.ui.PlayQueueActivity"
            android:theme="@style/Transparent" />

        <service android:name="com.softtanck.imusic.service.PlayService" />
    </application>

</manifest>